$bg-color:grey;
//$text-font: 'Roboto' , sans-serif;
// $headline-font: 'Roboto', cursive;
$jtbg-color:white;
$headerfont: 'Roboto', cursive;
body {
	background-color:$bg-color;
	// font-family:$text-font;


}

h1,h2,h3{
	// font-family:$headline-font;
}

.jumbotron{
	background-color:$jtbg-color;
}

.display-3{
	font-family:$headerfont;
}